<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>jsp10-replyboard</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.mok.controller.index.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>write</display-name>
    <servlet-name>write</servlet-name>
    <servlet-class>com.mok.controller.board.write</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>write</servlet-name>
    <url-pattern>/board/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteProcess</display-name>
    <servlet-name>WriteProcess</servlet-name>
    <servlet-class>com.mok.controller.board.WriteProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteProcess</servlet-name>
    <url-pattern>/board/write-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardList</display-name>
    <servlet-name>BoardList</servlet-name>
    <servlet-class>com.mok.controller.board.BoardList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardList</servlet-name>
    <url-pattern>/board/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View</display-name>
    <servlet-name>View</servlet-name>
    <servlet-class>com.mok.controller.board.View</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View</servlet-name>
    <url-pattern>/board/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reply</display-name>
    <servlet-name>Reply</servlet-name>
    <servlet-class>com.mok.controller.board.Reply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reply</servlet-name>
    <url-pattern>/board/reply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyProcess</display-name>
    <servlet-name>ReplyProcess</servlet-name>
    <servlet-class>com.mok.controller.board.ReplyProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyProcess</servlet-name>
    <url-pattern>/board/reply-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyDelete</display-name>
    <servlet-name>ReplyDelete</servlet-name>
    <servlet-class>com.mok.controller.board.ReplyDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyDelete</servlet-name>
    <url-pattern>/board/replydelete</url-pattern>
  </servlet-mapping>
</web-app>