<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>jsp11-mybatis</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BoardList</display-name>
    <servlet-name>BoardList</servlet-name>
    <servlet-class>com.mok.controller.board.BoardList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardList</servlet-name>
    <url-pattern>/board/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardWriteProcess</display-name>
    <servlet-name>BoardWriteProcess</servlet-name>
    <servlet-class>com.mok.controller.board.BoardWriteProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardWriteProcess</servlet-name>
    <url-pattern>/board/write-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardDelete</display-name>
    <servlet-name>BoardDelete</servlet-name>
    <servlet-class>com.mok.controller.board.BoardDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardDelete</servlet-name>
    <url-pattern>/board/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardUpdate</display-name>
    <servlet-name>BoardUpdate</servlet-name>
    <servlet-class>com.mok.controller.board.BoardUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardUpdate</servlet-name>
    <url-pattern>/board/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardAllDelete</display-name>
    <servlet-name>BoardAllDelete</servlet-name>
    <servlet-class>com.mok.controller.board.BoardAllDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardAllDelete</servlet-name>
    <url-pattern>/board/all-delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardSearch</display-name>
    <servlet-name>BoardSearch</servlet-name>
    <servlet-class>com.mok.controller.board.BoardSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardSearch</servlet-name>
    <url-pattern>/board/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardSearchForm</display-name>
    <servlet-name>BoardSearchForm</servlet-name>
    <servlet-class>com.mok.controller.board.BoardSearchForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardSearchForm</servlet-name>
    <url-pattern>/board/search-form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardWrite</display-name>
    <servlet-name>BoardWrite</servlet-name>
    <servlet-class>com.mok.controller.board.BoardWrite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardWrite</servlet-name>
    <url-pattern>/board/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardView</display-name>
    <servlet-name>BoardView</servlet-name>
    <servlet-class>com.mok.controller.board.BoardView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardView</servlet-name>
    <url-pattern>/board/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberLogin</display-name>
    <servlet-name>MemberLogin</servlet-name>
    <servlet-class>com.mok.controller.member.MemberLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLogin</servlet-name>
    <url-pattern>/member/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberLoginProcess</display-name>
    <servlet-name>MemberLoginProcess</servlet-name>
    <servlet-class>com.mok.controller.member.MemberLoginProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLoginProcess</servlet-name>
    <url-pattern>/member/login-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberLogout</display-name>
    <servlet-name>MemberLogout</servlet-name>
    <servlet-class>com.mok.controller.member.MemberLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLogout</servlet-name>
    <url-pattern>/member/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberInsert</display-name>
    <servlet-name>MemberInsert</servlet-name>
    <servlet-class>com.mok.controller.member.MemberInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberInsert</servlet-name>
    <url-pattern>/member/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberIDCheck</display-name>
    <servlet-name>MemberIDCheck</servlet-name>
    <servlet-class>com.mok.controller.member.MemberIDCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberIDCheck</servlet-name>
    <url-pattern>/member/id-check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberInsertProcess</display-name>
    <servlet-name>MemberInsertProcess</servlet-name>
    <servlet-class>com.mok.controller.member.MemberInsertProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberInsertProcess</servlet-name>
    <url-pattern>/member/insert-process</url-pattern>
  </servlet-mapping>
</web-app>